<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="../static/js/login.js"></script>
  <link rel="stylesheet" href="../static/css/login.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar">
    <div class="col-md-4 ms-auto">
      <a href="{{ url_for('main.index') }}" class="navbar-item">
        Главная страница
      </a>
      <a href="{{ url_for('main.client') }}" class="navbar-item">
        Добавить клиента
      </a>
      <a href="{{ url_for('main.video') }}" class="navbar-item">
        Мониторинг
      </a>
      <!-- <a class="navbar-item" onclick="LogOut()"> -->
      <a href="{{ url_for('auth.auth_page') }}" class="navbar-item">
        Выйти
      </a>
    </div>
  </nav>

  <div class="hero-body">
    <div class="container has-text-centered">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>

</html>