<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Вход</title>
    <link rel="stylesheet" href="css/login.css">
    <script defer src="js/login.js"></script>
</head>
<body>
<div class="login">
    <div class="container">
        <div class="auth-buttons">
            <button class="auth" id="submit" onclick="Submit()">Вход</button>
            <button class="auth" id="login" onclick="Enter()">Регистрация</button>
        </div>
        <br>
            <div class="input-data">
                <div class="input-group">
                    <label for="username" class="label">Логин</label>
                    <input type="text" id="username" class="input">
                    <span class="error-message"></span>
                </div>
                <br>
                <div class="input-group">
                    <label for="password" class="label">Пароль</label>
                    <input type="password" id="password" class="input">
                    <span class="error-message"></span>
                </div>
                <br>
            </div>
        <form action="main.html" class="loginForm">
        <button class="button" id="registry-entry-btn" type="submit" onclick="checkAll()">Войти</button>
        </form>
    </div>
</div>
</body>
</html>