<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

    <script defer src="../static/js/login.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="col-md-4 ms-auto">
        <a class="navbar-item">
            Добавить клиента
        </a>
        <a href="{{ url_for('auth.auth_page') }}" class="navbar-item">
            Выйти
        </a>
        </div>
    </nav>
    <div class="container-video">
        <p class="text-center">Мониторинг системы</p>
        <video>

        </video>
    </div>
</body>
</html> -->

{% extends "base.html" %}

{% block content %}
<div class="container-video">
    <p class="text-center">Мониторинг системы</p>
    <video>

    </video>
</div>
{% endblock %}